@theme {
    --text-1: 0.25rem; /* 4px */
    --text-1_5: 0.375rem; /* 6px */
    --text-2: 0.5rem; /* 8px */
    --text-2_5: 0.625rem; /* 10px */
    --text-3: 0.75rem; /* 12px */
    --text-3_5: 0.875rem; /* 14px */
    --text-4: 1rem; /* 16px */
    --text-4_5: 1.125rem; /* 18px */
    --text-5: 1.25rem; /* 20px */
    --text-5_5: 1.375rem; /* 22px */
    --text-6: 1.5rem; /* 24px */
    --text-6_5: 1.625rem; /* 26px */
    --text-7: 1.75rem; /* 28px */
    --text-7_5: 1.875rem; /* 30px */
    --text-8: 2rem; /* 32px */
    --text-8_5: 2.125rem; /* 34px */
    --text-9: 2.25rem; /* 36px */
    --text-9_5: 2.375rem; /* 38px */
    --text-10: 2.5rem; /* 40px */
    --text-11: 2.75rem; /* 44px */
    --text-12: 3rem; /* 48px */
    --text-13: 3.25rem; /* 52px */
    --text-14: 3.5rem; /* 56px */
    --text-15: 3.75rem; /* 60px */
    --text-16: 4rem; /* 64px */
    --text-17: 4.25rem; /* 68px */
    --text-18: 4.5rem; /* 72px */
    --text-19: 4.75rem; /* 76px */
    --text-20: 5rem; /* 80px */
    --text-21: 5.25rem; /* 84px */
    --text-22: 5.5rem; /* 88px */
    --text-23: 5.75rem; /* 92px */
    --text-24: 6rem; /* 96px */
    --text-25: 6.25rem; /* 100px */
    --text-26: 6.5rem; /* 104px */
    --text-27: 6.75rem; /* 108px */
    --text-28: 7rem; /* 112px */
    --text-29: 7.25rem; /* 116px */
    --text-30: 7.5rem; /* 120px */
    --text-31: 7.75rem; /* 124px */
    --text-32: 8rem; /* 128px */
    --text-33: 8.25rem; /* 132px */
    --text-34: 8.5rem; /* 136px */
    --text-35: 8.75rem; /* 140px */
    --text-36: 9rem; /* 144px */
    --text-37: 9.25rem; /* 148px */
    --text-38: 9.5rem; /* 152px */
    --text-39: 9.75rem; /* 156px */
    --text-40: 10rem; /* 160px */
    --text-41: 10.25rem; /* 164px */
    --text-42: 10.5rem; /* 168px */
    --text-43: 10.75rem; /* 172px */
    --text-44: 11rem; /* 176px */
    --text-45: 11.25rem; /* 180px */
    --text-46: 11.5rem; /* 184px */
    --text-47: 11.75rem; /* 188px */
    --text-48: 12rem; /* 192px */
    --text-49: 12.25rem; /* 196px */
    --text-50: 12.5rem; /* 200px */
    --text-51: 12.75rem; /* 204px */
    --text-52: 13rem; /* 208px */
    --text-53: 13.25rem; /* 212px */
    --text-54: 13.5rem; /* 216px */
    --text-55: 13.75rem; /* 220px */
    --text-56: 14rem; /* 224px */
    --text-57: 14.25rem; /* 228px */
    --text-58: 14.5rem; /* 232px */
    --text-59: 14.75rem; /* 236px */
    --text-60: 15rem; /* 240px */
    --text-61: 15.25rem; /* 244px */
    --text-62: 15.5rem; /* 248px */
    --text-63: 15.75rem; /* 252px */
    --text-64: 16rem; /* 256px */
    --text-65: 16.25rem; /* 260px */
    --text-66: 16.5rem; /* 264px */
    --text-67: 16.75rem; /* 268px */
    --text-68: 17rem; /* 272px */
    --text-69: 17.25rem; /* 276px */
    --text-70: 17.5rem; /* 280px */
    --text-71: 17.75rem; /* 284px */
    --text-72: 18rem; /* 288px */
    --text-73: 18.25rem; /* 292px */
    --text-74: 18.5rem; /* 296px */
    --text-75: 18.75rem; /* 300px */
    --text-76: 19rem; /* 304px */
    --text-77: 19.25rem; /* 308px */
    --text-78: 19.5rem; /* 312px */
    --text-79: 19.75rem; /* 316px */
    --text-80: 20rem; /* 320px */
    --text-81: 20.25rem; /* 324px */
    --text-82: 20.5rem; /* 328px */
    --text-83: 20.75rem; /* 332px */
    --text-84: 21rem; /* 336px */
    --text-85: 21.25rem; /* 340px */
    --text-86: 21.5rem; /* 344px */
    --text-87: 21.75rem; /* 348px */
    --text-88: 22rem; /* 352px */
    --text-89: 22.25rem; /* 356px */
    --text-90: 22.5rem; /* 360px */
    --text-91: 22.75rem; /* 364px */
    --text-92: 23rem; /* 368px */
    --text-93: 23.25rem; /* 372px */
    --text-94: 23.5rem; /* 376px */
    --text-95: 23.75rem; /* 380px */
    --text-96: 24rem; /* 384px */
    --text-97: 24.25rem; /* 388px */
    --text-98: 24.5rem; /* 392px */
    --text-99: 24.75rem; /* 396px */
    --text-100: 25rem; /* 400px */
    --text-101: 25.25rem; /* 404px */
    --text-102: 25.5rem; /* 404px */
    --text-103: 25.75rem; /* 412px */
    --text-104: 26rem; /* 416px */
    --text-105: 26.25rem; /* 420px */
    --text-106: 26.5rem; /* 424px */
    --text-107: 26.75rem; /* 428px */
    --text-108: 27rem; /* 432px */
    --text-109: 27.25rem; /* 436px */
    --text-110: 27.5rem; /* 440px */
    --text-111: 27.75rem; /* 444px */
    --text-112: 28rem; /* 448px */
    --text-113: 28.25rem; /* 452px */
    --text-114: 28.5rem; /* 456px */
    --text-115: 28.75rem; /* 460px */
    --text-116: 29rem; /* 464px */
    --text-117: 29.25rem; /* 468px */
    --text-118: 29.5rem; /* 472px */
    --text-119: 29.75rem; /* 476px */
    --text-120: 30rem; /* 480px */
    --text-121: 30.25rem; /* 484px */
    --text-122: 30.5rem; /* 488px */
    --text-123: 30.75rem; /* 492px */
    --text-124: 31rem; /* 496px */
    --text-125: 31.25rem; /* 500px */
    --text-126: 31.5rem; /* 504px */
    --text-127: 31.75rem; /* 508px */
    --text-128: 32rem; /* 512px */
    --text-129: 32.25rem; /* 516px */
    --text-130: 32.5rem; /* 520px */
    --text-131: 32.75rem; /* 524px */
    --text-132: 33rem; /* 528px */
    --text-133: 33.25rem; /* 532px */
    --text-134: 33.5rem; /* 536px */
    --text-135: 33.75rem; /* 540px */
    --text-136: 34rem; /* 544px */
    --text-137: 34.25rem; /* 548px */
    --text-138: 34.5rem; /* 552px */
    --text-139: 34.75rem; /* 556px */
    --text-140: 35rem; /* 560px */
    --text-141: 35.25rem; /* 564px */
    --text-142: 35.5rem; /* 568px */
    --text-143: 35.75rem; /* 572px */
    --text-144: 36rem; /* 576px */
    --text-145: 36.25rem; /* 580px */
    --text-146: 36.5rem; /* 584px */
    --text-147: 36.75rem; /* 588px */
    --text-148: 37rem; /* 592px */
    --text-149: 37.25rem; /* 596px */
    --text-150: 37.5rem; /* 600px */
    --text-151: 37.75rem; /* 604px */
    --text-152: 38rem; /* 608px */
    --text-153: 38.25rem; /* 612px */
    --text-154: 38.5rem; /* 616px */
    --text-155: 38.75rem; /* 620px */
    --text-156: 39rem; /* 624px */
    --text-157: 39.25rem; /* 628px */
    --text-158: 39.5rem; /* 632px */
    --text-159: 39.75rem; /* 636px */
    --text-160: 40rem; /* 640px */
    --text-161: 40.25rem; /* 644px */
    --text-162: 40.5rem; /* 648px */
    --text-163: 40.75rem; /* 652px */
    --text-164: 41rem; /* 656px */
    --text-165: 41.25rem; /* 660px */
    --text-166: 41.5rem; /* 664px */
    --text-167: 41.75rem; /* 668px */
    --text-168: 42rem; /* 672px */
    --text-169: 42.25rem; /* 676px */
    --text-170: 42.5rem; /* 680px */
    --text-171: 42.75rem; /* 684px */
    --text-172: 43rem; /* 688px */
    --text-173: 43.25rem; /* 692px */
    --text-174: 43.5rem; /* 696px */
    --text-175: 43.75rem; /* 700px */
    --text-176: 44rem; /* 704px */
    --text-177: 44.25rem; /* 708px */
    --text-178: 44.5rem; /* 712px */
    --text-179: 44.75rem; /* 716px */
    --text-180: 45rem; /* 720px */
    --text-181: 45.25rem; /* 724px */
    --text-182: 45.5rem; /* 728px */
    --text-183: 45.75rem; /* 732px */
    --text-184: 46rem; /* 736px */
    --text-185: 46.25rem; /* 740px */
    --text-186: 46.5rem; /* 744px */
    --text-187: 46.75rem; /* 748px */
    --text-188: 47rem; /* 752px */
    --text-189: 47.25rem; /* 756px */
    --text-190: 47.5rem; /* 760px */
    --text-191: 47.75rem; /* 764px */
    --text-192: 48rem; /* 768px */
    --text-193: 48.25rem; /* 772px */
    --text-194: 48.5rem; /* 776px */
    --text-195: 48.75rem; /* 780px */
    --text-196: 49rem; /* 784px */
    --text-197: 49.25rem; /* 788px */
    --text-198: 49.5rem; /* 792px */
    --text-199: 49.75rem; /* 796px */
    --text-200: 50rem; /* 800px */
  }
  